body {
    background-image: url("12.jpg");
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron {  
    padding-top: 30px;
    padding-bottom: 14px;  
    height: 700px;
    width: 700px; 
}

.test {
    margin: auto;
   /* width: 100%;*/
    padding-left: 30%;
}

.jumbotron-special{
    padding-top: 30px;
    padding-bottom: 14px;  
    height: 600px;
    width: 950px; 

}

#title {
    color: blue;
}